---
layout: page
description: "Detector Gadget"
header-img: "img/home-bg.jpg"
---

<h1> Small Molecule Detection - Engineering Spinach Based Biosensors </h1>

Since the discovery of Green Fluorescent Protein, it has revolutionized 
fluorescent imaging of biomolecules inside cells and animal tissue. A similar 
fluorescent signal can be obtained with the RNA aptamer Spinach, which also 
allows direct optical monitoring of RNA in vivo. The qualitative detection of a 
small molecule is enabled by fusing Spinach with a small molecule aptamer, 
however, quantitative detection has never been achieved.<br>
Here we show the construction of a modified biosensor system for concentration 
dependent detection of the metabolite S-adenosylmethionine, SAM. By adjusting 
the stability of the linker region of the Spinach-SAM construct, the aptamer 
folding is made dependent on the concentration of the metabolite. Combining 
several concentration dependent constructs allows us to construct a biosensor 
with a broadened dynamic range.

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
    </a>
    <p class="post-meta">Posted by {{ post.author }} on {{ post.date | date: "%B %-d, %Y" }}</p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
