---
layout: default
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{{ page.header-img }}')">
</header>

<!-- Main Content -->
<div class="container-fluid">
	<div class="container">
		<div class="row">
			<nav class="col-md-3 bs-docs-sidebar hidden-sm hidden-xs">
				<div class="sidebar sticky">
					<img src="{{ site.baseurl }}/img/logo_mini.png" width="150px" style="padding-bottom: 10px;">
					<ul class="nav nav-stacked">
						{% for section in page.sections %}
						<li><a href="#{{section | remove: " "}}"> {{section | textilize}}</a></li>
						{% endfor %}
					</ul>
				</div>
			</nav>
			<div class="col-lg-9 col-lg-offset-0 col-md-9 col-md-offset-0" style="padding-right: 30px;">
				{{ content }}
			</div>
		</div>
	</div>
</div>

<hr>